//************  buttons

.btn_v1 {
  height: 40px;

  &.doc_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 33px;
    font: 18px/30px $Ossemrounded;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &.help_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 54px;
    font: 24px/30px $Ossemrounded;
    text-align: center;
    overflow: hidden;
  }

  &.needs_info {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 54px;
    font: 24px/31px $Ossemrounded;
    text-align: center;
    overflow: hidden;
  }

  &._d-b {
    display: block;
  }
}

.btn_v2 {
  height: 52px;

  &.show_more_btn {
    text-align: center;
    display: block;
    width: 100%;
    padding: 18px;
    font-size: 14px;
    line-height: 16px;

    @include respond-to-max($resp_tab) {
      height: 40px;
      padding: 12px;
    }
  }
}

.btn_v3 {
  height: 26px;

  &.tags_btn {
    float: left;
    text-align: center;
    min-width: 108px;
    line-height: 20px;
    padding: 2px;
    margin-top: 19px;

    @include respond-to-min($resp_tab) {
      position: absolute;
      right: 100px;
      top: 0;
    }
  }
}

.btn_v4 {
  height: 28px;

  &.soc_btn {
    display: block;
    position: relative;
    text-align: center;
    border-radius: 2px;
    padding: 4px 14px;
    font: 16px/20px $Ossemrounded;
  }

  &.soc_clear_btn {
    display: block;
    font-size: 16px;
  }

}

.btn_gray {
  @include transition_all(color .3s, background .3s);
  color: $blue;
  background: #ebebeb;

  &:hover {
    background: #f8f7f7;
  }
}

.btn_blue {
  @include transition_all(background .3s);
  background: $blue;
  color: #fff;

  &:hover {
    background: #5aafff;
  }
}

.btn_blue_white {
  @include transition_all(background .3s, color .3s);
  background: #fff;
  color: #3490e6;
  border: 1px solid #3490e6;
  border-radius: 2px;

  &:hover {
    background: #3490e6;
    color: #fff;
  }
}

.green_btn {
  @include transition_all(background .3s, color .3s);
  background: #81b123;
  color: #fff;

  &:hover {
    background: lighten(#81b123, 5%);
  }
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.yellow_btn {
  background: #fbe622;
  color: #000;
  box-shadow: 0 3px 5px #7f7f7f;
}
