html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 $Roboto;
  color: $main_text_color;
  min-width: $content-max-w;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-top: 120px;
  overflow: hidden;
}

.is_overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#video {
  @extend %hor_vert_centr;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.hero_slider_w {
  padding: 46px 0 0;
  background: #eef0f1;
  overflow: hidden;

  .section_inner {
    position: relative;
  }

  &._public {
    overflow: visible;
    background: #eceeef;
  }
}

.more_histories {
  z-index: 7;
  position: absolute;
  bottom: -92px;
  left: 140px;
  width: 320px;
}

.hero_slider {
  @extend %clearfix;
  position: relative;

  .slide {
    @extend %clearfix;
    position: relative;
    margin-bottom: -20px;
    display: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      bottom: -800px;
      left: -360px;
      border-radius: 100%;
      width: 1317px;
      height: 1350px;
      background: url(../i/slide_spot.png) no-repeat 0 0;
    }

    &:first-child {
      display: block;
    }
  }

  &.slick-initialized {
    .slide {
      display: block;
    }
  }

  .slide_footer {
    position: absolute;
    bottom: 55px;
    left: 500px;
    right: -55px;
    letter-spacing: .01em;

    p {
      font-size: 17px;
      margin: 25px 0 10px;
    }
  }

  .slide_img {
    position: relative;
    float: left;
    padding-left: 117px;
  }

  .slide_img_shadow {
    @include transform_skew(-8, 0);
    position: absolute;
    bottom: 60px;
    left: 30px;
    height: 75.5%;
    width: 50%;
    background: #d9dbde;
    border-radius: 15px;
    overflow: hidden;

    img {
      -webkit-transform: skew(8deg, 0deg) translate(-50%, -50%);
      -ms-transform: skew(8deg, 0deg) translate(-50%, -50%);
      transform: skew(8deg, 0deg) translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
    }

    &._silhouette {
      &:before {
        @include transform_skew(8, 0);
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 280px;
        height: 322px;
        background: url(../i/silhouette.png) no-repeat 0 0;
      }
    }
  }

  .slide_img_w {
    @include transform_skew(-8, 0);
    float: left;
    width: 320px;
    height: 425px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    img {
      -webkit-transform: skew(8deg, 0deg) translate(-50%, -50%);
      -ms-transform: skew(8deg, 0deg) translate(-50%, -50%);
      transform: skew(8deg, 0deg) translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .slide_info {
    margin-left: 497px;
    padding-top: 17px;
    padding-bottom: 150px;
  }

  &._kids {

    .slide_info {
      padding-bottom: 0;
    }

    .slide_caption {
      margin-bottom: 5px;
    }

    .slide_img {
      margin-bottom: -28px;
    }
  }
  .slide_caption {
    font: 51px $Ossemrounded;
    color: $blue;
    margin-bottom: 17px;
    letter-spacing: -.005em;
    margin-left: -5px;

    sup {
      display: inline-block;
      vertical-align: top;
      font-size: .29em;
      color: #9abe62;
      line-height: 1.8;
    }
  }

  .slide_text {
    line-height: 1.35;
    font-size: 16px;
    max-width: 600px;
  }

  .slide_slogan {
    background: transparent;
    border: 1px solid #d2d2d2;
    padding: 11px 18px;
    line-height: 1.3;
    position: relative;
    max-width: 600px;
    margin-top: 25px;

    &:after {
      content: '';
      position: absolute;
      top: -10000px;
      left: -10000px;
      background: url(../i/slogan_pipe_w.png) no-repeat 0 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 28px;
      top: -28px;
      left: 40px;
      background: url(../i/slogan_pipe.png) no-repeat 0 0;
    }

    &:hover {
      background: #fff;

      .slogan_edit {
        display: inline-block;
      }

      &:before {
        background: url(../i/slogan_pipe_w.png) no-repeat 0 0;
      }
    }
  }

  ._public & {

    .slide {
      margin-bottom: -30px;

      &:before {
        display: none;
      }
    }
    .slide_img {
      margin-top: -10px;
    }

    .slide_img_w {
      width: 380px;
      height: 445px;
    }

    .child_location {
      margin: 5px 0 10px;
    }
  }
}

.base {
  padding-bottom: 110px;
}

.section_inner {
  @extend %clearfix;
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 55px;
}

.child_title {
  font: 23px/40px $RobotoMed;

  sup {
    font-size: .6em;
    display: inline-block;
    vertical-align: top;
    margin-top: -.35em;
  }

  .slide_info & {
    margin-bottom: 10px;
  }

}

.needs_info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1;
  height: 40px;
  border: 1px solid;
  overflow: hidden;

  .child_title & {
    margin-left: 10px;
  }

  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    position: relative;
    padding: 13px 10px;
    margin: -1px 0;
  }

  .needs_text {
    position: relative;
    overflow: hidden;

    .btn_v1 {
      @include transition_all(opacity .3s);
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      padding: 5px;
      height: auto;
      font-size: 18px;
      border-radius: 0;
      background: $blue;
      color: #fff;
      opacity: 0;
    }

    &:hover {
      .btn_v1 {
        opacity: 1;
      }
    }
  }

  &._x2 {
    height: 80px;

    > span {
      position: relative;
      padding: 26px 23px;
      margin: -2px 0;
    }

    .btn_v1 {
      font-size: 24px;
      line-height: 78px;
    }

    .needs_percent {
      padding: 26px 35px;
      font-size: 2.0em;
    }

    .needs_text {
      font-size: 2.0em;
    }
  }

  .needs_percent {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -50px;
      bottom: -50px;
      width: 1px;
    }
  }

  &._green {
    border-color: #81b123;
    color: #81b123;

    .needs_percent {

      &:before {
        background: #81b123;
      }
    }
  }

  &._blue {
    border-color: #3490e6;
    color: #3490e6;

    .needs_percent {

      &:before {
        background: #3490e6;
      }
    }
  }
}

.more_needs_section {
  position: relative;
  z-index: 6;
  clear: both;
  text-align: center;
  margin: 0 -500px;
}

.more_needs_caption {
  font: 30px/1.2 $Ossemrounded;
  text-align: center;
  padding: 84px 0 57px 28px;
}

.more_needs_list {
  //@extend %clearfix;
  padding: 0 65px;
  min-width: 2873px;
  display: inline-block;
  vertical-align: top;
  margin: -25px 0 0 -20px;
  white-space: nowrap;

  li {
    display: inline-block;
    vertical-align: top;
    width: 335px;
    padding-left: 20px;
    white-space: normal;
    text-align: left;

    &._spacer {
      width: 424px;

      .child_card {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

.child_card {
  @include transition_all(transform .3s, opacity .3s);
  @include transform_translate(0, 20px);
  position: relative;
  background: #fff;
  height: 138px;
  padding: 26px 5px 14px 100px;
  box-shadow: 3px 4px 29px #bec5d1;
  opacity: 0;

  > p {
    color: $caption_color;
    width: 210px;
    font-size: 12px;
    height: 2.4em;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &._active {
    @include transform_translate(0, 0);
    opacity: 1;
  }
}

.child_card_holder {
  margin: -50px -100px 22px;
  text-align: left;

  .child_card {
    @include transform_translate(0, 0);
    opacity: 1;
    box-shadow: none;
    padding-right: 200px;
    padding-top: 20px;
    height: auto;
  }

  .child_avatar {
    position: absolute;
    left: 20px;
  }

  .needs_info {
    position: absolute;
    top: 22px;
    right: 32px;
  }
}

.child_card_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
}

.progress_val {
  @include transition_all(background .3s, width .3s);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 2;

  &._orange {
    background: #ffc447;
  }

  &._green {
    background: #86b42c;
  }

  &._red {
    background: #f86262;
  }
}

.child_avatar {
  position: absolute;
  top: 14px;
  left: 16px;
  text-align: center;
  width: 60px;

  img {
    display: block;
  }

  p {
    font-size: 12px;
    color: #000;
    margin-top: 13px;
  }
}

.child_name {
  color: #000;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.child_age {
  font-size: 12px;
  color: #000;
  margin-top: -25px;
}

.counters_section {
  padding: 80px 0;
  background: rgb(238, 244, 249);
  background: -moz-linear-gradient(top, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef4f9', endColorstr='#ffffff', GradientType=0);

}

.counters_list {
  text-align: center;
  margin: 0 -60px 95px;
  padding-right: 20px;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 32%;
  }
}

.counter_box {

  p {
    color: $caption_color;
    font: 24px $RobotoLight;
  }
}

.counter_val {
  font: 52px $Ossemrounded;
  color: $blue;
  margin-bottom: 12px;

  img {
    margin-right: 10px;
  }

  span,
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  sub {
    font-size: .58em;
    margin-left: 10px;
  }
}

.help_block {
  position: relative;
  padding: 35px 20px 30px 400px;
  background: #fff;
  margin-bottom: 20px;

  .tab_panel & {
    margin-bottom: 40px;
  }
}

.help_description {
  position: relative;
  padding-left: 48px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  min-height: 30px;
  color: $caption_color;
}

.help_description_icon {
  position: absolute;
  top: 5px;
  left: 0;

  img {
    display: block;
  }
}

.help_block_aside {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 370px;
  overflow: hidden;

  img {
    @extend %hor_vert_centr;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transform-origin: 0 0;
  }

  &._hover_zoom {
    img {
      @include transition_all(transform 2s);
    }

    &:hover img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%);
    }
  }
}

.help_block_info {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 75px;
  right: 60px;
  left: 65px;
  color: #fff;

  h3 {
    font: 30px $RobotoMed;
  }

  p {
    font: 23px $RobotoLight;
    letter-spacing: -.01em;
  }
}

.help_block_aside_footer {
  position: absolute;
  right: 60px;
  left: 60px;
  bottom: 37px;
  z-index: 1;
  text-align: center;

  .btn_v1.help_btn {
    padding: 4px 10px;
    max-width: 276px;
    width: 100%;
  }
}

.help_block_footer {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 250px;
}

.help_block_progress {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 370px;

  .child_card_progress {
    border-right: 0;
    height: 5px;
  }
}

.child_location {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 15px;
  margin-bottom: 23px;

  &:before {
    content: $i-pin;
    color: $blue;
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 12px;
  }
}

.child_info {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 16px;

  dt {
    float: left;
    clear: left;
    font-family: $RobotoMed;
    padding-right: 5px;
    margin-bottom: 20px;
  }

  dd {
    float: left;
    margin-bottom: 20px;
  }

}

.help_info {
  float: right;
  width: 250px;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 50px;

  p {
    margin-bottom: 7px;

    a {
      vertical-align: baseline;
    }
  }
}

.help_info {
  dt {
    margin-bottom: 5px;
  }

  dd {
    font: 24px/1.1 $RobotoMed;
    margin-bottom: 9px;
  }
}

.child_info_block {
  margin-right: 280px;

  p {
    margin: 25px 0 12px;
    letter-spacing: .005em;
  }
}

.help_block_slider {
  position: relative;
  padding: 0 70px 0 80px;
  margin: -30px 0;
}

.help_block_caption {
  font: 16px $RobotoMed;
  margin-bottom: 15px;
  padding-left: 20px;

  sup {
    font: .9em $Roboto;
    margin-top: -.5em;
    display: inline-block;
    vertical-align: top;
  }
}

.help_slider {
  overflow: hidden;
  padding: 15px 10px 18px 0;

  .slick-list {
    margin-left: -10px;
  }

  .slide {
    float: left;
    padding-left: 30px;
  }
}

.help_slider_btn {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: #b3bcc5;
  text-align: center;
  font-size: 46px;
  z-index: 3;
  cursor: pointer;

  &:hover {
    color: #9199a1;
  }

  &._prev {
    left: 25px;

    &:before {
      content: $i-arrow_left;
    }
  }

  &._next {
    right: 8px;

    &:before {
      content: $i-arrow_right;
    }
  }
}

.help_box_inner {
  height: 250px;
  overflow: hidden;

  p {
    line-height: 1.3;
  }
}

.help_box_footer {
  position: absolute;
  bottom: 20px;
  right: 18px;
  left: 18px;
  padding: 12px 5px;
  text-align: center;
  color: $blue;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #3490e6;

  .btn_v1.help_btn {
    @include transition_all(opacity .3s);
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    padding: 5px;
    font-size: 18px;
    border-radius: 0;
    background: $blue;
    color: #fff;
    opacity: 0;
    line-height: 52px;
    height: auto;
  }

  &:hover {
    .btn_v1.help_btn {
      opacity: 1;
    }
  }
}

.help_box {
  position: relative;
  padding: 16px 17px 93px;
  background: #fff;
  box-shadow: 0 3px 4px rgba(190, 197, 209, .33);

  .child_title {
    font-size: 16px;
  }
}

.help_box_photo {
  margin-bottom: 5px;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-radius: 100%;
  }
}

.thanks_block {
  padding: 15px 0;
}

.thanks_block_caption {
  font: 30px/1.2 $Ossemrounded;
  margin-bottom: 30px;
  text-align: center;
}

.thanks_special_caption {
  font: 24px/1.2 $Ossemrounded;
  margin: 30px 0 50px;
  padding-left: 55px;
  text-align: center;
}

.map_holder {
  position: relative;
  text-align: center;
  min-height: 615px;

  .gm-style-iw {
    //position: relative !important;
    //top: 0 !important;
    //left: 0 !important;
    //width: auto !important;
    text-align: left;
    padding: 25px 20px 20px 57px;
  }
}

.pin_img {
  position: absolute;
  left: 14px;
  top: 14px;
  border-radius: 100%;
  pointer-events: all;

  img {
    display: block;
  }
}

.pin_name {
  font-size: 14px;
  color: #000;
  margin-bottom: 1px;
}

.pin_city {
  font-size: 12px;
  color: $caption_color;
  margin-bottom: 5px;
}

.pin_summ {
  @extend %icon_pseudo;
  position: relative;
  font: 24px/1 $RobotoMed;

  &:before {
    content: $i-drip;
    position: absolute;
    left: -20px;
    top: 2px;
    font-size: 18px;
  }

  &.pin_green {
    &:before {
      color: $green;
    }
  }

  sub {
    font-family: $Roboto;
    font-size: .59em;
  }
}

.philanthropist_box_footer {
  border-top: 1px solid #e4f1fc;
  position: relative;
  padding: 7px 7px 0;
  margin: 15px -20px -10px -70px;

  .btn_v1.help_btn {
    display: block;
  }
}

.philanthropist_box {

  .philanthropist_top {
    position: absolute;
    width: 33px;
    height: 33px;
    right: 0;
    top: -30px;
    z-index: 1;

    &._top-1 {
      background: url(../svg/1.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &._top-2 {
      background: url(../svg/2.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &._top-3 {
      background: url(../svg/3.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  .gm-style & {
    margin-top: 91px;
    margin-left: 84px;
    pointer-events: none;
  }

  > div {
    text-align: left;
    background: #fff;
    width: 230px !important;
    height: auto !important;
    border-radius: 25px 3px 3px 3px !important;
    box-shadow: 3px 4px 29px rgba(190, 197, 209, 1);
  }

  .transparent {
    position: relative;
    padding: 25px 20px 20px 57px;
  }

  &._current {
    > div {
      text-align: left;
      background: #f3ffeb;
    }
  }
}

.map_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map_block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 27px;
  padding-right: 5px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.map_tip {
  position: absolute;
  top: 63px;
  left: -63px;
  z-index: 1;
  text-align: left;
  font-size: 12px;
  letter-spacing: .01em;
}

.philanthropist_section {
  padding-bottom: 60px;

  &._mod_1 {
    padding-top: 30px;

    .philanthropist_list {
      line-height: 410px;
    }
  }
}

.philanthropist_list {
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  margin: 0 -800px;
  height: 520px;
  line-height: 520px;
  padding-left: 20px;

  li {
    display: inline-block;
    vertical-align: bottom;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
  }
}

.philanthropist_avatar {
  float: left;
  border-radius: 100%;
  margin-bottom: 6px;

  img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }
}

.philanthropist_name {
  clear: left;
  margin-bottom: 1px;
  color: #000;
}

.philanthropist_location {
  font-size: 12px;
  color: $caption_color;
  margin-bottom: 10px;
}

.philanthropist_summ {
  margin-bottom: 15px;
  color: #000;
  font-size: 18px;

  span {
    font-family: $RobotoMed;
  }

  sub {
    font-size: .75em;
  }
}

.philanthropist_unit {
  position: relative;
  width: 112px;

  p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.philanthropist_rate {
  @include transition_all(height .6s);
  position: relative;
  background: #bbe2ff;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  }

}

.philanthropist_report {
  padding: 110px 0 70px;
}

.philanthropist_report_caption {
  font: 30px $Ossemrounded;
  margin-bottom: 30px;
}

.philanthropist_report_table {
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 8px;
  background: #fff;

  table {
    min-width: 100%;

    tr {

      &:nth-child(2n) {
        td {
          background: #f4f8fb;
        }
      }

      &._top-1 {
        td {
          background: #fff7e4;
        }
      }

      &._top-2 {
        td {
          background: #f0f2f4;
        }
      }

      &._top-3 {
        td {
          background: #f9efdd;
        }
      }

    }

    td {
      padding: 11px 20px 12px;
      vertical-align: middle;
    }

    th {
      text-align: left;
      padding: 30px 20px 15px;
      font: 14px $RobotoMed;
      border-bottom: 2px solid #dee3e7;
    }

    .col_1 {
      width: 8%;
    }

    .col_2 {
      width: 19%;
    }

    .col_3 {
      width: 14%;
    }

    .col_4 {
      width: 20%;
    }

    .col_5 {
      width: 20%;
    }
  }
}

.philanthropist_block {
  line-height: 36px;
  display: block;
}

.philanthropist_top {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;

  img {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.philanthropist_photo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  margin-right: 8px;
  padding: 3px;
  width: 36px;
  height: 36px;
  border-radius: 100%;

  img {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
}

.philanthropist_fio {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  color: #000;
}

.philanthropist_cart {
  -webkit-transform: scaleX(-1) rotate(270deg);
  -ms-transform: scaleX(-1) rotate(270deg);
  transform: scaleX(-1) rotate(270deg);
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  z-index: 1;
}

.philanthropist_pie {
  @include transition_all(stroke-dasharray .3s);
  fill: #fff;
  stroke: #0074d9;
  stroke-width: 50;
  stroke-dasharray: 0 158;

  &.p_green {
    stroke: #87b32c;
  }

  &.p_red {
    stroke: #ff5c5c;
  }

  &.p_orange {
    stroke: #ffc707;
  }

}

.join_block {
  text-align: center;

  .btn_v1.help_btn {
    padding: 4px 25px;
  }
}

.history_section {
  background: #eef4f9;
  padding: 80px 0;

}

.history_block {
  background: #fff;
  position: relative;
  padding-left: 470px;
  padding-bottom: 54px;
  min-height: 180px;
  margin-bottom: 80px;
}

.history_block_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 54px;
  background: #86b42c;
  padding: 12px;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 43px;
    margin-bottom: -12px;
    width: 15px;
    height: 20px;
    background: #86b42c;
    border-radius: 5px;
    -webkit-transform: skew(15deg, 0deg) rotate(45deg);
    -ms-transform: skew(15deg, 0deg) rotate(45deg);
    transform: skew(15deg, -35deg) rotate(-20deg);
  }
}

.history_people {
  white-space: nowrap;
  max-width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    position: relative;

    &:hover {
      .history_phil_info {
        display: block;
        pointer-events: none;
      }
    }
  }
}

.history_phil_info {
  position: absolute;
  top: -16px;
  left: -16px;
  display: none;
  z-index: 1;
}

.history_block_image {
  position: absolute;
  top: 0;
  bottom: 54px;
  left: 0;
  width: 470px;
  overflow: hidden;

  img {
    @extend %hor_vert_centr;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

}

.history_block_text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 125px 28px 25px;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03000000', endColorstr='#33000000', GradientType=0);

}

.history_phil {
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;

  img {
    max-width: 100%;
    display: block;
  }
}

.history_block_caption {
  @extend %clearfix;
  color: $caption_color;
  line-height: 30px;

  span {
    font: 23px $RobotoMed;
  }
}

.history_block_date {
  font-size: 12px;
}

.history_block_info {
  padding: 40px 30px 25px;

  p {
    margin-top: 15px;
    letter-spacing: .009em;
    line-height: 1.25;
    padding-right: 75px;

    &:last-child {
      margin-top: 20px;
    }
  }
}

.add_request {
  position: relative;
  height: 450px;
  overflow: hidden;

  .help_block_info {
    top: 113px;

    h1 {
      font: 50px $Ossemrounded;
      margin-bottom: 15px;
    }

    h3 {
      margin-bottom: 30px;
    }

    h5 {
      font-size: 23px;
    }

    p {
      font-size: 18px;
      line-height: 1.25;
    }

  }

  .help_block_aside_footer {
    bottom: 65px;
  }
}

.preloader_block {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 27px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.add_request_img {
  will-change: top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block !important;

  .stellar_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  img {
    @extend %hor_vert_centr;
    @include transition_all(transform 2s);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transform-origin: 0 0;
  }

  &.checkLoad {
    opacity: 0;
  }

  &._loaded {
    @extend .animated;
    @extend .fadeIn;

    img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%);
    }
  }

  &:hover {
    img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%);
    }
  }
}

.refund_section {
  padding: 84px 0 120px;
  background: #fff;
  text-align: center;

  p {
    font: 18px $RobotoLight;
    margin-bottom: 30px;
  }

  &._kids {
    position: relative;
    padding-bottom: 95px;
    background: url(../i/kids_hero.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .child_card_progress {
      bottom: auto;
      top: 0;
      height: 3px;
    }
  }
}

.refund_form {
  padding-top: 17px;
}

.refund_payments {
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
  padding-right: 15px;

  img {
    display: block;
  }
}
