html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 $Roboto;
  color: $main_text_color;
  //min-width: $content-max-w;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-top: 60px;
  overflow: hidden;

  @include respond-to-min($resp_dt) {
    padding-top: 120px;
  }

  @include respond-to-max($resp_dt) {
    .menu_opened & {
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 21;
      }
    }
  }
}

.is_overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#video {
  @extend %hor_vert_centr;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.hero_slider_w {
  background: #eef0f1;
  overflow: hidden;

  .section_inner {
    position: relative;
  }

  &._public {
    background: #eceeef;
  }

  @include respond-to-min($resp_dt) {
    padding: 46px 0 0;
    margin: 0;

    &._public {
      overflow: visible;
      background: #eceeef;
    }
  }
}

.more_histories {
  z-index: 7;
  position: absolute;
  bottom: -92px;
  left: 140px;
  width: 320px;
}

.hero_slider {
  @extend %clearfix;
  position: relative;

  .slide {
    @extend %clearfix;
    position: relative;
    margin-bottom: -20px;
    display: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      bottom: -800px;
      left: -360px;
      border-radius: 100%;
      width: 1317px;
      height: 1350px;
      background: url(../i/slide_spot.png) no-repeat 0 0;
    }

    &:first-child {
      display: block;
    }

    @include respond-to-max($resp_dt) {
      margin-bottom: 0;

      &:before {
        display: none;
      }
    }
  }

  .slick-initialized,
  &.slick-initialized {
    .slide {
      display: block;
    }
  }

  .slide_footer {
    bottom: 55px;
    letter-spacing: .01em;

    p {
      font-size: 17px;
      margin: 25px 0 10px;

      @include respond-to-max($resp_dt) {
        color: #8faf37;
      }
    }

    @include respond-to-min($resp_tab) {
      margin-left: 55%;
    }

    @include respond-to-min($resp_dt) {
      position: absolute;
      bottom: 55px;
      left: 500px;
      right: -55px;
      margin-left: 0;
      letter-spacing: .01em;

      p {
        font-size: 17px;
        margin: 25px 0 10px;
      }
    }
  }

  .slide_img {
    position: relative;

    &._profile_photo {
      @include respond-to-max($resp_dt) {
        max-width: 300px;
        padding: 10px;
        float: left;
      }

      @include respond-to-max(640px) {
        float: none;
        margin: 0 auto;
      }
    }

    @include respond-to-min($resp_tab) {
      float: left;
      width: 50%;
    }

    @include respond-to-min($resp_dt) {
      float: left;
      width: auto;
      padding-left: 117px;
    }
  }

  .slide_img_shadow {
    position: absolute;
    bottom: 60px;
    left: 30px;
    height: 75.5%;
    width: 50%;
    background: #d9dbde;
    border-radius: 15px;
    overflow: hidden;

    img {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
    }

    @include respond-to-min($resp_dt) {
      -webkit-transform: skew(-8deg, 0deg);
      -ms-transform: skew(-8deg, 0deg);
      transform: skew(-8deg, 0deg);

      img {
        -webkit-transform: skew(8deg, 0deg) translate(-50%, -50%);
        -ms-transform: skew(8deg, 0deg) translate(-50%, -50%);
        transform: skew(8deg, 0deg) translate(-50%, -50%);
      }
    }

    &._silhouette {
      &:before {
        @include transform_skew(8, 0);
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 280px;
        height: 322px;
        background: url(../i/silhouette.png) no-repeat 0 0;
      }
    }
  }

  .slide_img_w {
    position: relative;
    margin: 0 -18px;

    img {
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }

    @include respond-to-min($resp_dt) {
      -webkit-transform: skew(-8deg, 0deg);
      -ms-transform: skew(-8deg, 0deg);
      transform: skew(-8deg, 0deg);
      border-radius: 20px;
      overflow: hidden;
      float: left;
      width: 320px;
      height: 425px;
      margin: 0;

      img {
        -webkit-transform: skew(8deg, 0deg) translate(-50%, -50%);
        -ms-transform: skew(8deg, 0deg) translate(-50%, -50%);
        transform: skew(8deg, 0deg) translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: none;
        width: auto;
      }
    }
  }

  .slide_info {
    padding: 35px 0 20px;

    &._profile_info {
      @include respond-to-max($resp_dt) {
        margin-left: 340px;
      }

      @include respond-to-max(640px) {
        margin-left: 0;
        clear: both;
      }
    }

    @include respond-to-min($resp_tab) {
      margin-left: 55%;
      padding: 17px 0 20px;
    }

    @include respond-to-min($resp_dt) {
      margin-left: 497px;
      padding: 17px 0 150px;
    }
  }

  &._kids {

    .slide_info {
      padding-bottom: 0;
    }

    .slide_caption {
      margin-bottom: 17px;

      @include respond-to-min($resp_dt) {
        margin-bottom: 5px;
      }
    }

    .slide_img {

      @include respond-to-max($resp_dt) {
        height: 400px;
        overflow: hidden;
        margin: 0 -18px;
      }

      @include respond-to-min($resp_dt) {
        margin-bottom: -28px;
      }
    }
  }

  .slide_caption {
    font: 30px $Ossemrounded;
    color: $blue;
    margin-bottom: 14px;
    letter-spacing: -.005em;
    margin-left: -5px;

    sup {
      display: inline-block;
      vertical-align: top;
      font-size: .29em;
      color: #9abe62;
      line-height: 1.8;
    }

    @include respond-to-min($resp_dt) {
      font-size: 51px;
    }
  }

  .slide_text {
    line-height: 1.35;
    max-width: 600px;

    @include respond-to-min($resp_dt) {
      font-size: 16px;
    }
  }

  .slide_slogan {
    background: transparent;
    border: 1px solid #d2d2d2;
    padding: 11px 18px;
    line-height: 1.3;
    position: relative;
    max-width: 600px;
    margin-top: 25px;

    &:after {
      content: '';
      position: absolute;
      top: -10000px;
      left: -10000px;
      background: url(../i/slogan_pipe_w.png) no-repeat 0 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 28px;
      top: -28px;
      left: 40px;
      background: url(../i/slogan_pipe.png) no-repeat 0 0;
    }

    &:hover {
      background: #fff;

      .slogan_edit {
        display: inline-block;
      }

      &:before {
        background: url(../i/slogan_pipe_w.png) no-repeat 0 0;
      }
    }

    @include respond-to-max($resp_tab) {
      background: #fff;

      .slogan_edit {
        display: inline-block;
      }

      &:before {
        background: url(../i/slogan_pipe_w.png) no-repeat 0 0;
      }
    }
  }

  ._public & {

    .slide {

      @include respond-to-min($resp_dt) {
        margin-bottom: -30px;
      }

      &:before {
        display: none;
      }
    }

    @include respond-to-min($resp_dt) {
      .slide_img {
        margin-top: -10px;
      }

      .slide_img_w {
        width: 380px;
        height: 445px;
      }
    }

    .child_location {
      margin: 5px -5px 10px;

      @include respond-to-min($resp_dt) {
        margin: 5px 0 10px;
      }
    }
  }
}

.base {

  @include respond-to-min($resp_dt) {
    padding-bottom: 110px;
  }
}

.section_inner {
  @extend %clearfix;
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 18px;

  @include respond-to-min($resp_dt) {
    padding: 0 55px;
  }

  @include respond-to-max($resp_dt) {
    &.aside_to_bottom {
      //display: table;
      //width: 100%;
    }
  }
}

.child_title {
  font: 16px/24px $RobotoMed;

  .child_info_block & {
    > span {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 13px;
    }
  }

  sup {
    font-size: .85em;
    display: inline-block;
    vertical-align: top;
    margin-top: -.65em;
  }

  .slide_info & {
    margin-bottom: 10px;

    sup {
      margin-right: 10px;
    }
  }

  @include respond-to-min($resp_dt) {
    font: 23px/40px $RobotoMed;

    .child_info_block & {
      > span {
        margin-bottom: 0;
      }
    }

    sup {
      font-size: .6em;
      margin-top: -.35em;
    }
  }
}

.needs_info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1;
  height: 40px;
  border: 1px solid;
  overflow: hidden;

  .child_title & {

    //@include respond-to-min($resp_tab) {
    //  margin-left: 10px;
    //}
  }

  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    position: relative;
    padding: 13px 10px;
    margin: -1px 0;
  }

  .needs_text {
    position: relative;
    overflow: hidden;

    .btn_v1 {
      @include transition_all(opacity .3s);
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      padding: 5px;
      height: auto;
      font-size: 18px;
      border-radius: 0;
      background: $blue;
      color: #fff;
      opacity: 0;
    }

    &:hover {
      .btn_v1 {
        opacity: 1;
      }
    }
  }

  &._x2 {
    @include respond-to-max($resp_dt) {
      height: 50px;

      > span {
        position: relative;
        font-size: 15px;
        letter-spacing: .04em;
      }

      .needs_text {
        padding: 15px 10px;
      }

      .needs_percent {
        padding: 15px 22px;
      }
    }

    @include respond-to-min($resp_dt) {
      height: 80px;

      > span {
        position: relative;
        padding: 26px 23px;
        margin: -2px 0;
      }

      .btn_v1 {
        font-size: 24px;
        line-height: 78px;
      }

      .needs_percent {
        padding: 26px 35px;
        font-size: 2.0em;
      }

      .needs_text {
        font-size: 2.0em;
      }
    }
  }

  .needs_percent {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -50px;
      bottom: -50px;
      width: 1px;
    }
  }

  &._green {
    border-color: #81b123;
    color: #81b123;

    .needs_percent {

      &:before {
        background: #81b123;
      }
    }
  }

  &._blue {
    border-color: #3490e6;
    color: #3490e6;

    .needs_percent {

      &:before {
        background: #3490e6;
      }
    }
  }
}

.more_needs_section {
  position: relative;
  z-index: 6;
  clear: both;
  text-align: center;

  @include respond-to-min($resp_dt) {
    margin: 0 -1500px;
  }
}

.more_needs_caption {
  font: 30px/1 $Ossemrounded;
  text-align: left;
  padding: 10px 0 20px;
  position: relative;
  z-index: 20;

  @include respond-to-min($resp_dt) {
    line-height: 1.2;
    text-align: center;
    padding: 84px 0 57px 28px;
  }
}

.more_needs_list_w {
  padding: 0 65px;
  min-width: 2873px;
  display: inline-block;
  vertical-align: top;
  margin: -25px 0 0 -20px;

  @include respond-to-max($resp_dt) {
    min-width: 0;
    padding: 20px 10px;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
  }
}

.more_needs_list {
  white-space: nowrap;

  li {
    display: inline-block;
    vertical-align: top;
    width: 335px;
    padding-left: 20px;
    white-space: normal;
    text-align: left;

    &._spacer {
      width: 424px;

      .child_card {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  @include respond-to-max($resp_dt) {
    //min-width: 0;
    //padding: 0 10px;
    //margin: 20px 0 0;

    li {
      width: auto;
      padding-left: 8px;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }

    .child_card {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 100%;
      overflow: hidden;

      .child_avatar {
        top: 0;
        left: 0;
      }

    }
  }
}

.child_card {
  @include transition_all(transform .3s, opacity .3s);
  @include transform_translate(0, 20px);
  position: relative;
  background: #fff;
  height: 138px;
  padding: 26px 5px 14px 100px;
  box-shadow: 3px 4px 29px #bec5d1;
  opacity: 0;

  > p {
    color: $caption_color;
    width: 210px;
    font-size: 12px;
    height: 2.4em;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &._active {
    @include transform_translate(0, 0);
    opacity: 1;
  }
}

.child_card_holder {
  margin: -50px -100px 22px;
  text-align: left;

  .child_card {
    @include transform_translate(0, 0);
    opacity: 1;
    box-shadow: none;
    padding-right: 200px;
    padding-top: 20px;
    height: auto;
  }

  .child_avatar {
    position: absolute;
    left: 20px;
  }

  .needs_info {
    position: absolute;
    top: 22px;
    right: 32px;
  }

  @include respond-to-max($resp_tab) {
    margin: 0 0 20px;

    .child_card {
      padding-right: 5px;
      padding-left: 70px;
    }

    .needs_info {
      position: relative;
      top: auto;
      right: auto;
    }

    .child_age {
      margin: -10px 0 10px;
    }

    .child_avatar {
      left: 0;
    }
  }
}

.child_card_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
}

.progress_val {
  @include transition_all(background .3s, width .3s);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 2;

  &._orange {
    background: #ffc447;
  }

  &._green {
    background: #86b42c;
  }

  &._red {
    background: #f86262;
  }
}

.child_avatar {
  position: absolute;
  top: 14px;
  left: 16px;
  text-align: center;
  width: 60px;

  img {
    display: block;
  }

  p {
    font-size: 12px;
    color: #000;
    margin-top: 13px;
  }
}

.child_name {
  color: #000;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.child_age {
  font-size: 12px;
  color: #000;
  margin-top: -25px;
}

.counters_section {
  padding: 80px 0;
  background: rgb(238, 244, 249);
  background: -moz-linear-gradient(top, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(238, 244, 249, 1) 0%, rgba(238, 244, 249, 1) 20%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef4f9', endColorstr='#ffffff', GradientType=0);

  @include respond-to-max($resp_dt) {
    padding-bottom: 45px;
  }
}

.counters_list {
  text-align: center;
  overflow: hidden;
  margin: 0 -18px;

  @include respond-to-min($resp_dt) {
    margin: 0 -60px 95px;
    padding-right: 20px;

    .counters_item {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      width: 32%;
    }
  }
}

.counters_controls {
  position: relative;
  z-index: 2;

  .slick-arrow {
    @extend %icon_pseudo;
    position: absolute;
    top: 29px;
    font-size: 28px;
    color: #b3c2d9;

    &._next {
      right: 8px;

      &:before {
        content: $i-arrow_r;
      }
    }

    &._prev {
      left: 8px;

      &:before {
        content: $i-arrow_l;
      }
    }

    ._kids & {
      top: 10px;
    }
  }

  .slick-hidden {
    display: none;
  }
}

.counters_bullets {
  padding: 40px;

  .slick-dots {
    text-align: center;
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 5px;
    }
  }

  button {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #d7dde6;
    font-size: 0;
  }

  .slick-active {
    button {
      cursor: default;
      background: #b3c2d9;
    }
  }

  ._kids & {
    padding-top: 18px;
    margin-bottom: 8px;
  }
}

.counter_box {

  p {
    color: $caption_color;
    font: 24px $RobotoLight;
  }
}

.counter_val {
  font: 52px $Ossemrounded;
  color: $blue;
  margin-bottom: 12px;

  img {
    margin-right: 10px;
  }

  span,
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  sub {
    font-size: .58em;
    margin-left: 10px;
  }

  @include respond-to-max($resp_step_2) {
    font-size: 50px;
    white-space: nowrap;
  }
}

.help_block {
  position: relative;
  margin: 0 -18px 20px;

  .tab_panel & {
    margin-bottom: 40px;
  }

  @include respond-to-min($resp_dt) {
    padding: 35px 20px 30px 400px;
    margin: 0 0 20px;
    background: #fff;
  }
}

.help_description {
  position: relative;
  padding-left: 48px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  min-height: 30px;
  color: $caption_color;
}

.help_description_icon {
  position: absolute;
  top: 5px;
  left: 0;

  img {
    display: block;
  }
}

.help_block_aside {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 51%;

  img {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
  }

  &._hover_zoom {
    padding-bottom: 395px;

    img {
      @include transition_all(transform 2s);
      will-change: transform;
    }

    &:hover img {
      -webkit-transform: translate(-50%, -50%) scale(1.05);
      -ms-transform: translate(-50%, -50%) scale(1.05);
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  @include respond-to-min($resp_dt) {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 370px;
    height: auto;
    padding-bottom: 0;

    &._hover_zoom {
      padding-bottom: 0;
    }

    &:hover img {
      //-webkit-transform: scale(1.05) translate(-50%, -50%);
      //-ms-transform: scale(1.05) translate(-50%, -50%);
      //transform: scale(1.05) translate(-50%, -50%);
    }
  }
}

.help_block_info {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 75px;
  right: 25px;
  left: 25px;
  color: #fff;

  h3 {
    font: 30px $RobotoMed;
  }

  p {
    font: 23px $RobotoLight;
    letter-spacing: -.01em;
  }

  @include respond-to-min($resp_dt) {
    right: 60px;
    left: 65px;
  }
}

.help_block_aside_footer {
  position: absolute;
  right: 25px;
  left: 25px;
  bottom: 37px;
  z-index: 1;
  text-align: center;

  .btn_v1.help_btn {
    padding: 4px 10px;
    max-width: 276px;
    width: 100%;
  }

  @include respond-to-min($resp_dt) {
    right: 60px;
    left: 60px;
  }
}

.help_block_footer {
  padding: 0 18px 20px;

  @include respond-to-min($resp_tab) {
    clear: both;
  }

  @include respond-to-min($resp_dt) {
    padding: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 250px;
  }
}

.help_block_progress {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .child_card_progress {
    border-right: 0;
    height: 5px;
  }

  @include respond-to-min($resp_dt) {
    left: 370px;
  }
}

.child_location {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 15px;
  margin-bottom: 33px;

  &:before {
    content: $i-pin;
    color: $blue;
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 12px;
  }

  @include respond-to-min($resp_dt) {
    margin-bottom: 23px;
  }
}

.child_info {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 16px;

  dt {
    float: left;
    clear: left;
    font-family: $RobotoMed;
    padding-right: 5px;
    margin-bottom: 20px;
  }

  dd {
    float: left;
    margin-bottom: 20px;
  }

  @include respond-to-max($resp_dt) {
    font-size: 14px;

    dt {
      margin-bottom: 0;
      padding-right: 3px;
    }

    dd {
      float: none;
      padding-right: 5px;
    }
  }
}

.help_info {
  font-size: 16px;
  padding: 5px 25px;

  p {
    margin-bottom: 7px;

    a {
      vertical-align: baseline;
    }
  }

  @include respond-to-min($resp_tab) {
    float: right;
    width: 50%;
    padding-top: 22px;
  }

  @include respond-to-min($resp_dt) {
    width: 250px;
    padding: 12px 0 50px;
    margin-left: -100%;
  }
}

.help_info_list {
  dt {
    margin-bottom: 5px;
  }

  dd {
    font: 24px/1.1 $RobotoMed;
    margin-bottom: 9px;
  }

  @include respond-to-max($resp_dt) {
    padding: 14px 0 12px;

    dt {
      font-size: 14px;
    }

    dd {
      font-size: 18px;
      margin-bottom: 19px;
    }
  }
}

.child_info_block {
  padding: 22px 25px 1px;

  p {
    margin: 25px 0 12px;
    letter-spacing: .005em;
  }

  @include respond-to-max($resp_dt) {

    p {
      margin-top: 0;
      max-height: 4.8em;
      overflow: hidden;
    }

    .child_title {
      font-size: 22.6px;

      sup {
        font-size: .6em;
      }
    }
  }

  @include respond-to-min($resp_tab) {
    float: left;
    width: 50%;
  }

  @include respond-to-min($resp_dt) {
    margin-right: 280px;
    padding: 0;
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: top;
  }
}

.help_block_slider {
  position: relative;

  @include respond-to-min($resp_tab) {
    padding: 0 70px 0 50px;
  }

  @include respond-to-min($resp_dt) {
    margin: -30px 0;
    padding: 0 70px 0 80px;
  }
}

.help_block_caption {
  font: 16px $RobotoMed;
  margin-bottom: 15px;
  padding-left: 20px;

  sup {
    font: .9em $Roboto;
    margin-top: -.5em;
    display: inline-block;
    vertical-align: top;
  }
}

.help_slider {
  overflow: hidden;

  .slick-list {
    margin-left: -10px;
  }

  .slick-slide {
    float: left;
    padding-left: 30px;
  }

  @include respond-to-min($resp_dt) {
    padding: 15px 10px 18px 0;
  }

  @include respond-to-max($resp_tab) {
    padding-bottom: 10px;

    &._mod_3 {
      .slide:nth-child(n + 4) {
        display: none !important;
      }
    }

    &.max_slides_6 {
      .slide {
        &:nth-child(n + 7) {
          display: none !important;
        }
      }
    }
  }
}

.help_slider_btn {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: #b3bcc5;
  text-align: center;
  font-size: 46px;
  z-index: 3;
  cursor: pointer;

  &:hover {
    color: #9199a1;
  }

  &._prev {
    left: 8px;

    &:before {
      content: $i-arrow_left;
    }

    @include respond-to-min($resp_dt) {
      left: 25px;
    }
  }

  &._next {
    right: 8px;

    &:before {
      content: $i-arrow_right;
    }
  }

  @include respond-to-max($resp_tab) {
    display: none;
  }
}

.help_box_inner {
  height: 250px;
  overflow: hidden;

  p {
    line-height: 1.3;

    @include respond-to-max($resp_dt) {
      font-size: 12px;
    }
  }
}

.help_box_footer {
  position: relative;
  padding: 10px 5px;
  text-align: center;
  color: $blue;
  font-size: 13px;
  line-height: 1.5;
  display: block;
  margin: 24px 20px 0 0;
  border: 1px solid #3490e6;

  .btn_v1.help_btn {
    @include transition_all(opacity .3s);
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    padding: 5px;
    font-size: 18px;
    border-radius: 0;
    background: $blue;
    color: #fff;
    opacity: 0;
    line-height: 52px;
    height: auto;
  }

  &:hover {
    .btn_v1.help_btn {
      opacity: 1;
    }
  }

  @include respond-to-min($resp_dt) {
    position: absolute;
    bottom: 20px;
    right: 18px;
    left: 18px;
    margin: 0;
    font-size: 12px;
  }
}

.help_box {
  position: relative;
  padding: 16px 17px 93px;
  background: #fff;
  box-shadow: 0 3px 4px rgba(190, 197, 209, .33);

  .child_title {
    font-size: 16px;
  }

  @include respond-to-max($resp_dt) {
    background: #fff;
    //height: 138px;
    padding: 24px 5px 20px 105px;
    box-shadow: none;
    margin-bottom: 10px;

    .help_box_inner {
      height: auto;
    }

    .child_title {
      font-size: 14px;
      line-height: 1.2;
    }

    .help_box_photo {
      position: absolute;
      top: 18px;
      left: 27px;
      text-align: center;
      width: 60px;

      img {
        max-width: 100%;
        display: block;
      }
    }

    .child_title {
      sup {
        display: none;
      }
    }
  }
}

.help_box_photo {
  margin-bottom: 5px;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-radius: 100%;
  }
}

.thanks_section {
  @include respond-to-max($resp_dt) {
    padding: 0 5px;
  }
}

.thanks_block {
  padding: 15px 0;

}

.thanks_block_caption {
  font: 30px/1.2 $Ossemrounded;
  margin-bottom: 30px;
  text-align: center;

  @include respond-to-max($resp_tab) {
    text-align: left;
    line-height: 1;
  }
}

.thanks_special_caption {
  font: 24px/1.2 $Ossemrounded;
  margin: 10px 0 15px;

  @include respond-to-min($resp_dt) {
    margin: 30px 0 50px;
    padding-left: 55px;
    text-align: center;
  }
}

.map_holder {
  position: relative;
  text-align: center;
  min-height: 615px;

  .gm-style-iw {
    //position: relative !important;
    //top: 0 !important;
    //left: 0 !important;
    //width: auto !important;
    text-align: left;
    padding: 25px 20px 20px 57px;
  }
}

.pin_img {
  position: absolute;
  left: 14px;
  top: 14px;
  border-radius: 100%;
  pointer-events: all;

  img {
    display: block;
  }
}

.pin_name {
  font-size: 14px;
  color: #000;
  margin-bottom: 1px;
}

.pin_city {
  font-size: 12px;
  color: $caption_color;
  margin-bottom: 5px;
}

.pin_summ {
  @extend %icon_pseudo;
  position: relative;
  font: 24px/1 $RobotoMed;

  &:before {
    content: $i-drip;
    position: absolute;
    left: -20px;
    top: 2px;
    font-size: 18px;
  }

  &.pin_green {
    &:before {
      color: $green;
    }
  }

  sub {
    font-family: $Roboto;
    font-size: .59em;
  }
}

.philanthropist_box_footer {
  border-top: 1px solid #e4f1fc;
  position: relative;
  padding: 7px 7px 0;
  margin: 15px -20px -10px -70px;

  .btn_v1.help_btn {
    display: block;
  }
}

.philanthropist_box {

  .philanthropist_top {
    position: absolute;
    width: 33px;
    height: 33px;
    right: 0;
    top: -30px;
    z-index: 1;

    &._top-1 {
      background: url(../svg/1.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &._top-2 {
      background: url(../svg/2.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &._top-3 {
      background: url(../svg/3.svg) no-repeat 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  .gm-style & {
    margin-top: 91px;
    margin-left: 84px;
    pointer-events: none;
  }

  > div {
    text-align: left;
    background: #fff;
    width: 230px !important;
    height: auto !important;
    border-radius: 25px 3px 3px 3px !important;
    box-shadow: 3px 4px 29px rgba(190, 197, 209, 1);
  }

  .transparent {
    position: relative;
    padding: 25px 20px 20px 57px;
  }

  &._current {
    > div {
      text-align: left;
      background: #f3ffeb;
    }
  }
}

.map_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map_block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 27px;
  padding-right: 5px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.map_tip {
  position: absolute;
  top: 63px;
  left: -63px;
  z-index: 1;
  text-align: left;
  font-size: 12px;
  letter-spacing: .01em;
}

.philanthropist_section {
  padding-bottom: 60px;

  &._mod_1 {
    padding-top: 30px;

    .philanthropist_list {
      line-height: 410px;
    }
  }
}

.philanthropist_list {
  white-space: nowrap;
  padding-left: 20px;
  padding-bottom: 10px;

  li {
    font-size: 14px;
    line-height: 1.2;
    text-align: left;

    @include respond-to-max($resp_tab) {
      margin-bottom: 24px;

      &:nth-child(n + 4) {
        display: none;
      }
    }
  }

  @include respond-to-min($resp_tab) {
    font-size: 0;
    margin: 0 -1800px;
    height: 520px;
    line-height: 520px;
    text-align: center;
    padding: 0 0 0 20px;

    li {
      display: inline-block;
      vertical-align: bottom;
      padding-right: 20px;
    }
  }
}

.philanthropist_avatar {
  float: left;
  border-radius: 100%;
  margin-bottom: 6px;

  img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  @include respond-to-max($resp_tab) {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
  }
}

.philanthropist_name {
  clear: left;
  margin-bottom: 1px;
  color: #000;
}

.philanthropist_location {
  font-size: 12px;
  color: $caption_color;
  margin-bottom: 10px;
}

.philanthropist_summ {
  margin-bottom: 15px;
  color: #000;
  font-size: 18px;

  span {
    font-family: $RobotoMed;
  }

  sub {
    font-size: .75em;
  }

  @include respond-to-max($resp_tab) {
    position: absolute;
    left: 105px;
    bottom: 0;
    margin-bottom: 6px;
    z-index: 1;
  }
}

.philanthropist_unit {
  position: relative;
  width: 112px;

  p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include respond-to-max($resp_tab) {
    width: auto;
    padding-left: 105px;
    min-height: 60px;

    .philanthropist_location {
      margin-bottom: 15px;
    }
  }
}

.philanthropist_rate {
  @include transition_all(height .6s);
  position: relative;
  background: #bbe2ff;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  }

  @include respond-to-min($resp_tab) {
    width: 112px !important;
  }

  @include respond-to-max($resp_tab) {
    margin-left: -125px;
    background: #c6e1fe;
    height: 40px !important;

    &:before {
      display: none;
    }
  }
}

.philanthropist_report {
  padding: 54px 5px 20px;

  @include respond-to-min($resp_tab) {
    padding: 110px 0 70px;
  }
}

.philanthropist_report_caption {
  font: 30px $Ossemrounded;
  margin-bottom: 30px;

  @include respond-to-max($resp_tab) {
    margin-bottom: 7px;
  }
}

.philanthropist_report_table {
  overflow: hidden;
  //max-width: 100%;
  padding-bottom: 8px;
  background: #fff;

  table {
    min-width: 100%;
    white-space: nowrap;

    tr {

      &:nth-child(2n) {
        td {
          background: #f4f8fb;
        }
      }

      &._top-1 {
        td {
          background: #fff7e4;
        }
      }

      &._top-2 {
        td {
          background: #f0f2f4;
        }
      }

      &._top-3 {
        td {
          background: #f9efdd;
        }
      }

    }

    td {
      padding: 11px 20px 12px;
      vertical-align: middle;
    }

    th {
      text-align: left;
      padding: 30px 20px 15px;
      font: 14px $RobotoMed;
      border-bottom: 2px solid #dee3e7;
    }

    .col_1 {
      width: 8%;
    }

    .col_2 {
      width: 19%;
    }

    .col_3 {
      width: 14%;
    }

    .col_4 {
      width: 20%;
    }

    .col_5 {
      width: 20%;
    }
  }

  @include respond-to-max($resp_tab) {
    margin: 0 -22px;
    padding-bottom: 28px;

    table {

      td,
      th {
        padding-left: 10px;
        padding-right: 10px;
      }

      .col_1 {
        width: 3%;
      }
    }
  }
}

.philanthropist_block {
  line-height: 36px;
  display: block;
}

.philanthropist_top {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;

  img {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.philanthropist_photo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  margin-right: 8px;
  padding: 3px;
  width: 36px;
  height: 36px;
  border-radius: 100%;

  img {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
}

.philanthropist_fio {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  color: #000;
}

.philanthropist_cart {
  -webkit-transform: scaleX(-1) rotate(270deg);
  -ms-transform: scaleX(-1) rotate(270deg);
  transform: scaleX(-1) rotate(270deg);
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  z-index: 1;
}

.philanthropist_pie {
  @include transition_all(stroke-dasharray .3s);
  fill: #fff;
  stroke: #0074d9;
  stroke-width: 50;
  stroke-dasharray: 0 158;

  &.p_green {
    stroke: #87b32c;
  }

  &.p_red {
    stroke: #ff5c5c;
  }

  &.p_orange {
    stroke: #ffc707;
  }

}

.join_block {
  text-align: center;

  .btn_v1.help_btn {
    padding: 4px 12px;

    @include respond-to-min($resp_dt) {
      padding: 4px 25px;
    }
  }

  @include respond-to-max($resp_dt) {
    padding-top: 37px;
  }
}

.full_list {
  padding: 0 25px;

  @include respond-to-min($resp_tab) {
    display: none;
  }
}

.history_section {
  background: #eef4f9;

  @include respond-to-min($resp_dt) {
    padding: 80px 0;
  }
}

.history_block {
  background: #fff;
  position: relative;
  min-height: 180px;
  margin-bottom: 20px;
  margin: 0 -18px;

  @include respond-to-min($resp_tab) {
    margin-bottom: 80px;
    padding: 0 0 54px 470px;
  }
}

.history_block_footer {
  position: relative;
  background: #86b42c;
  padding: 15px 15px 20px 25px;

  @include respond-to-min($resp_tab) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 54px;
    padding: 12px;

    &:before {
      z-index: 1;
      content: '';
      position: absolute;
      bottom: 100%;
      left: 43px;
      margin-bottom: -12px;
      width: 15px;
      height: 20px;
      background: #86b42c;
      border-radius: 5px;
      -webkit-transform: skew(15deg, 0deg) rotate(45deg);
      -ms-transform: skew(15deg, 0deg) rotate(45deg);
      transform: skew(15deg, -35deg) rotate(-20deg);
    }
  }
}

.history_people {
  max-width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    margin-top: 10px;
    position: relative;

    &:hover {
      .history_phil_info {
        display: block;
        pointer-events: none;
      }
    }
  }

  @include respond-to-min($resp_tab) {
    white-space: nowrap;

    li {
      margin-top: 0;
    }
  }
}

.history_phil_info {
  position: absolute;
  top: -16px;
  left: -16px;
  display: none;
  z-index: 1;
}

.history_block_image {
  height: 220px;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_tab) {
    position: absolute;
    top: 0;
    bottom: 54px;
    left: 0;
    width: 470px;
    height: auto;

    img {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
    }
  }
}

.history_block_text {
  color: #fff;

  @include respond-to-min($resp_tab) {
    position: absolute;
    bottom: 100%;
    width: 470px;
    left: 0;
    padding: 125px 28px 25px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03000000', endColorstr='#33000000', GradientType=0);
  }

  @include respond-to-max($resp_tab) {
    line-height: 1.4;
    padding-bottom: 8px;
    letter-spacing: .015em;
  }
}

.history_phil {
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;

  img {
    max-width: 100%;
    display: block;
  }
}

.history_block_caption {
  @extend %clearfix;
  color: $caption_color;
  line-height: 30px;

  span {
    font: 23px $RobotoMed;
  }
}

.history_block_date {
  font-size: 12px;
}

.history_block_info {
  padding: 20px 24px 25px;

  p {
    margin-top: 15px;
    letter-spacing: .009em;
    line-height: 1.25;

    &:last-child {
      margin-top: 20px;
    }
  }

  @include respond-to-min($resp_dt) {
    padding: 40px 30px 25px;

    p {
      padding-right: 75px;
    }
  }
}

.add_request {
  position: relative;
  height: 450px;
  overflow: hidden;

  .help_block_info {
    top: 113px;

    h1 {
      font: 50px $Ossemrounded;
      margin-bottom: 15px;
    }

    h3 {
      margin-bottom: 30px;
    }

    h5 {
      font-size: 23px;
    }

    p {
      font-size: 18px;
      line-height: 1.25;
    }

    @include respond-to-max($resp_tab) {
      top: 80px;

      h1 {
        font-size: 30px;
      }

      h3 {
        margin-bottom: 35px;
      }

      h5 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        padding: 0 15px;
      }
    }
  }

  .help_block_aside_footer {
    bottom: 65px;

    @include respond-to-max($resp_tab) {
      bottom: 40px;
    }
  }

  @include respond-to-max($resp_dt) {
    height: 530px;
    margin: 0 -18px;

    &.ward_hero {
      height: 460px;
    }
  }
}

.preloader_block {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 27px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-max($resp_tab) {
    margin-top: -37px;
    margin-bottom: 2px;
  }
}

.add_request_img {
  will-change: top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block !important;

  .stellar_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .38);
    }
  }

  img {
    @extend %hor_vert_centr;
    @include transition_all(transform 2s);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transform-origin: 0 0;
  }

  &.checkLoad {
    opacity: 0;
  }

  &._loaded {
    @extend .animated;
    @extend .fadeIn;

    img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%);
    }
  }

  &:hover {
    img {
      -webkit-transform: scale(1.05) translate(-50%, -50%);
      -ms-transform: scale(1.05) translate(-50%, -50%);
      transform: scale(1.05) translate(-50%, -50%);
    }
  }
}

.refund_section {
  padding: 50px 7px 20px;
  background: #fff;

  p {
    font: 18px $RobotoLight;
    margin-bottom: 30px;
  }

  &._kids {
    position: relative;
    padding-bottom: 95px;
    background: url(../i/kids_hero.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .child_card_progress {
      bottom: auto;
      top: 0;
      height: 3px;
    }

    @include respond-to-max($resp_tab) {
      text-align: center;
      padding-bottom: 40px;

      .thanks_block_caption {
        text-align: center;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  }

  @include respond-to-max($resp_dt) {
    .thanks_block_caption {
      line-height: 1.25;
      margin-bottom: 25px;
    }

    p {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }

  @include respond-to-min($resp_dt) {
    text-align: center;
    padding: 84px 0 120px;
  }

  @include respond-to-min($resp_tab) {
    text-align: center;
    padding: 34px 0 50px;
  }
}

.refund_form {
  padding-top: 17px;
}

.refund_payments {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 32px;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_dt) {
    margin-top: 28px;
    margin-bottom: 0;
    padding-right: 15px;
  }
}
