.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 47px 0 50px;
  line-height: 20px;
  background: #fff;
  border-top: 1px solid #3490e6;
}

.copyright {
  float: left;
  font-size: 12px;
  color: $caption_color;
  letter-spacing: .02em;
}

.popup {
  background: #f4f4f4;
  padding: 0 20px 20px;
  text-align: center;

  p {
    margin-bottom: 20px;
  }
}

.c_green {
  color: $green;
}

.c_blue {
  color: $blue;
}

.c_red {
  color: $red;
}

.c_gray {
  color: $gray;
}

.c_gray_light {
  color: $gray_light;
}

.c_caption {
  color: $caption_color;
}

.gl_link {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $blue;
  text-decoration: none;
  line-height: 1.2;

  span {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &:before {
      @include transition_all(opacity .3s);
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
      border-bottom: 1px solid #bad0f3;
      box-shadow: 0 1px 1px #f8f8f8;
    }
  }

  &._inner {
    span:before {
      border-bottom-style: dotted;
      border-bottom-width: 1px;
    }
  }

  &:hover {
    span {
      &:before {
        opacity: 0;
      }
    }
  }
}

._drop {
  @extend %icon_pseudo;
  position: relative;
  font-size: 1.3em;
  line-height: 1;

  span {
    color: transparent !important;
  }

  &:after {
    @include transition_all(transform .3s .3s);
    @include transform_translate(0, 0);
    content: $i-drip;
    position: absolute;
    top: 0;
    left: -1px;
    will-change: transform;
  }

  .drop_anim & {

    &:before {
      @include transition_all(transform .3s);
      @include transform_translate(0, -60px);
      content: $i-drip;
      position: absolute;
      top: 0;
      left: -1px;
      will-change: transform;
    }
  }

  .drop_anim:hover & {
    &:before {
      @include transition_all(transform .3s .3s);
      @include transform_translate(0, 0);
    }

    &:after {
      @include transition_all(transform .3s);
      @include transform_translate(0, 60px);
    }
  }
}

// **********  text

.fz_12 {
  font-size: 12px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.slick-track {
  @extend %clearfix;
}

.slick-slide {
  float: left;
}

.fw_med {
  font-family: $RobotoMed;
}

.dt_vis {
  @include respond-to-max($resp_step_2) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.wide_vis {
  @include respond-to-max($resp_step_3) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
