.inp_hidden {
  display: none !important;
}

.f_label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  color: $blue;
  font-size: 12px;

  &._mod_1 {
    margin-bottom: 15px;
  }
}

.input_w {
  position: relative;

  &.lk_soc_input {
    height: 60px;
    padding: 11px 40px;
    background: #f8fbfe;
    margin-bottom: 10px;

    input {

    }

    &._set {
      text-align: right;

      input {
        display: none;
      }
    }

    &._unset {
      input {
        display: none;
      }
    }

    @include respond-to-min($resp_tab) {
      padding: 11px 62px 11px 237px;
    }
  }
}

.f_input {
  display: block;
  width: 100%;

  &.f_input_v1 {
    height: 40px;
    border: 1px solid #bdccd6;
    background: #fff;
    padding: 7px 12px;
    color: $caption_color;
    font-size: 18px;
    line-height: 22px;

    &.error {
      border-color: #ff3e3e;
    }

    .lk_col & {
      font-size: 16px;
      letter-spacing: -.01em;
      padding: 7px 22px;
    }
  }
}

textarea.f_input_v1.f_input {
  height: 100px;
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  resize: vertical;
}

.select_box_v1 {
  text-align: left;

  .select2-container--default {
    .select2-results > .select2-results__options {
      max-height: 260px;
      padding: 15px 0;
    }

    .select2-dropdown {
      border-color: #d2d2d2;
      border-radius: 0 !important;
    }

    .select2-results__option {
      font-size: 16px;
      padding: 11px 20px;
    }

    .select2-container {

    }

    .select2-selection__rendered {
      @extend .f_input.f_input_v1;
      line-height: 24px;
    }

    .select2-selection__placeholder {
      color: $placeholder_color;
    }

    .select2-selection--single {
      background: none;
      border: none;
      height: 40px;

      &:hover {
        .select2-selection__arrow:before {

        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 40px;

      &:before {
        @include transition_all(color .3s);
        position: absolute;
        font-size: 12px;
        height: 12px;
        top: 50%;
        margin-top: -5px;
        right: 20px;
        font-weight: 700;
        content: $i-chevron_down;
        color: $blue;
      }

      b {
        display: none;
      }
    }
  }

  &.dropdown_small {
    .select2-container--default {
      .select2-results > .select2-results__options {
        max-height: 120px;
      }
    }
  }

  .select2-container--open {
    .select2-selection__arrow {

      &:before {
        content: $i-chevron_up;
      }
    }
  }
}

.form_row {
  @extend %clearfix;

  .refund_form & {

    .form_cell {
      margin-bottom: 20px;
    }

    @include respond-to-min($resp_tab) {
      display: inline-block;
      vertical-align: top;
      margin-right: -30px;
      width: 610px;

      .form_cell {
        float: left;
        width: 50%;
        padding-right: 30px;
      }
    }

    .btn_v1.help_btn {
      padding: 4px 5px;
      width: 100%;
    }
  }
}

.form_cell {
  position: relative;

  &.form_cell_v1 {
    margin-bottom: 20px;
  }

  &.form_cell_v2 {
    margin-bottom: 7px;
  }

  &.form_cell_v3 {
    margin-bottom: 38px;
  }

  &.form_cell_v4 {
    margin-bottom: 32px;
  }

  &.form_cell_v5 {
    margin: 40px 0 28px;
  }

  &.form_cell_v6 {
    margin-bottom: 24px;
  }

  &.form_cell_v7 {
    margin: 0 -75px 10px;

    .btn_v1 {
      width: 100%;
    }
  }

  &.form_cell_v8 {
    margin-bottom: 10px;
  }

  &.form_cell_v9 {
    margin: 30px 0 45px;
  }

  &.recovery_cell {
    font-size: 12px;
    text-align: center;
  }
}

.form_cell_tip {
  color: $caption_color;
  font-size: 12px;
  margin: 10px 0;
  text-align: left;

  span[class^=i-] {
    color: #b3c2d9;
    margin-right: 10px;
  }

  @include respond-to-max($resp_tab) {
    margin: 6px 0;
    line-height: 1.7;
  }
}

.popup {
  display: none;

  &.popup_v1 {
    background: #fff;
    padding: 0 10px 40px;
    overflow: hidden;

    .popup_inner {
      margin: 0 auto;
      max-width: 370px;
    }

    .f_input.f_input_v1 {
      padding: 7px 20px;
      font-size: 16px;
    }

    .btn_v1.help_btn {
      padding: 4px 46px;
    }

    @include respond-to-max($resp_tab) {
      padding-left: 25px;
      padding-right: 25px;

      .btn_v1.help_btn {
        width: 100%;
      }
    }
  }
}

.popup_progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 5px;

  .child_card_progress {
    height: 5px;
    border-radius: 0;
  }
}

.popup_switcher {
  @extend %clearfix;
  padding-bottom: 40px;

  li {
    float: left;
    position: relative;
    font: 30px/36px $Ossemrounded;
    margin-bottom: 10px;

    @include respond-to-min($resp_tab) {
      padding: 0 12px;

      &:first-child {
        &:after {
          content: '/';
          position: absolute;
          right: -6px;
          top: 0;
          color: #dadada;
        }
      }
    }

    a {
      font-size: 18px;
      line-height: 1.7;
    }

    &._single {
      padding: 0;
      width: 100%;

      &:after {
        display: none;
      }
    }
  }

  @include respond-to-max($resp_tab) {
    padding-top: 43px;
    padding-bottom: 20px;
  }
}

.form_group {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 12px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -300px;
    left: -300px;
    height: 1px;
    background: #e2e2e2;
  }
}

.form_group_caption {
  text-align: left;
  font: 18px $Ossemrounded;
  margin: -5px 0 20px;
}

.tagit-autocomplete {
  padding: 10px 0;
  border: 1px solid #d2d2d2;
  background: #fff;
  float: left;
  white-space: nowrap;
  position: absolute !important;
  z-index: 3;

  li {
    font-size: 14px;
    padding: 5px 6px;
    cursor: pointer;

    &.ui-state-focus,
    &:hover {
      background-color: #5897fb;
      color: white;
    }
  }
}

.pass_toggle {
  @include transition_all(color .3s);
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -12px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $blue;
  font-size: 20px;
  line-height: 30px;

  + .f_input {
    padding-right: 50px;
  }

  &:hover {
    color: #5aafff;
  }
}

.check_emul {
  display: block;

  .check_text {
    position: relative;
    display: block;
    padding-left: 35px;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      top: 1px;
      left: 0;
      border: 1px solid #b4c3da;
    }

    &:after {
      @include transition_all(opacity .3s);
      content: '';
      position: absolute;
      top: 4px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #b3c2d9;
      opacity: 0;
    }
  }

  &:hover {
    .check_text {
      &:after {
        opacity: 1;
      }
    }
  }

  .inp_hidden {
    display: none;

    &:checked ~ .check_text {
      &:after {
        background: #3490e6;
        opacity: 1;
      }
    }
  }

  .check_caption {
    font-size: 14px;
    display: block;
  }

  .check_tip {
    display: block;
    color: #989898;
    font-size: 12px;
  }
}


