@import "includes/global_var";
@import "reset";
@import "fonts";
//@import "datapicker";
@import "font_icons";
@import "animate";
@import "../fond_icons/style.scss";

@import "validationEngine.jquery";
@import "jquery.ui.all";
@import "select2";
@import "jquery.fancybox";
@import "jquery.tagit";
@import "header";
@import "first_screen";
@import "ward";
@import "content";
@import "public";
@import "lk";
@import "forms";
@import "buttons";
@import "tables";
@import "footer";
