.ward_counter {
  font-size: 14px;
  margin: 10px 0 30px;
}

.ward_hero {

  .help_block_info {
    padding-top: 70px;

    @include respond-to-max($resp_tab) {
      padding-top: 105px;
    }
  }
}

.ward_icon {
  font-size: 45px;
}

.ward_info {

  p {
    font: 16px/1.25 $RobotoLight;
  }

  @include respond-to-min($resp_tab) {
    float: left;
    width: 49%;

    p {
      font-size: 18px;
    }
  }
}

.ward_info_caption {
  color: $caption_color;
  font: 23px $RobotoMed;
  margin-bottom: 30px;
  letter-spacing: -.01em;

  @include respond-to-min($resp_tab) {
    margin-bottom: 36px;
  }
}

.ward_stat {
  background: #eef4f9;
  margin: 35px -28px 10px;
  padding: 25px 26px 1px;

  @include respond-to-min($resp_tab) {
    float: right;
    width: 49%;
    margin: 10px 0;
    padding: 32px 20px 5px;
  }
}

.ward_coin {
  margin-right: 8px;

  img {
    display: block;
  }

  @include respond-to-max($resp_tab) {
    margin-right: 15px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.ward_stat_list {
  line-height: 36px;

  dt {
    font: 15px $RobotoLight;

    @include respond-to-max($resp_tab) {

    }
  }

  dd {
    margin-bottom: 24px;
  }

  @include respond-to-min($resp_tab) {
    dt {
      text-align: right;
      float: left;
      clear: both;
      width: 47%;
      padding: 2px 40px 0 0;
      font: 18px/2 $RobotoLight;
      margin-bottom: 42px;
    }

    dd {
      float: right;
      width: 53%;
      margin-bottom: 0;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.ward_summ {
  font: 400 24px/1 $Roboto;

  sub {
    padding-left: 3px;
  }

  @include respond-to-min($resp_tab) {
    font: 36px/1 $Ossemrounded;

    sub {
      font-size: .5em;
      padding-left: 7px;
    }
  }
}

.ward_info_section {
  padding: 62px 10px 5px;
  background: #fff;

  @include respond-to-min($resp_tab) {
    padding: 62px 0 50px;
  }

}

.ward_list_section {
  padding: 10px 0 30px;

  @include respond-to-min($resp_tab) {
    padding: 45px 0 30px;
    background: #eef4f9;
  }

  @include respond-to-max($resp_tab) {

    &._kids {
      background: #eff3f9;
      padding-top: 20px;
      padding-bottom: 50px;

      .article_block {
        margin: -10px -10px 20px;
        padding: 10px;
      }
    }
  }
}

.tab_wrapper {
  @extend %clearfix;
  margin-left: -30px;
  padding-bottom: 18px;

  li {
    float: left;
    margin-bottom: 20px;
    padding-left: 30px;

    @include respond-to-max($resp_tab) {
      padding-left: 37px;
    }
  }
}

.tab_link {
  letter-spacing: .02em;

  span {
    @include transition_all(color .3s, border .3s);
    color: $blue;
    border-bottom: 1px dotted $blue;
  }

  sup {
    font-size: .8em;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    margin-top: -.5em;
    color: $caption_color;
  }

  .ui-tabs-active & {
    span {
      color: $caption_color;
      border-bottom-color: transparent;
    }
  }

  @include respond-to-min($resp_tab) {
    font-size: 16px;
  }
}



