include mixins.pug
doctype html
html(lang='ru')
  +dev_head('Капля Жизни Филантропы')

  body
    .wrapper
      .base
        +header()
        
        div.main_content
          .content_hero
            .content_hero_img
              img(src='i/content_hero.jpg')
              .content_video_btn
                span.i-play
              .content_hero_info
                .section_inner
                  .content_block
                    h1 H1 О фонде КапляЖизни
                  
          .content_section
            .section_inner.clearfix.aside_to_bottom
              .content_block
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. 
                  a(href='#'): span Для этого нужно 
                  |  бесконечно любить 
                  a(href='#'): span своего ребенка
                  |  и верить в его излечение и тогда “чудо” обязательно свершится. 

                .video_holder
                  <iframe src="https://www.youtube.com/embed/RUBZyyzUrDg" frameborder="0" allowfullscreen></iframe>
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. 
                
                h2 H2 Почему люди нам доверяют?
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. 
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались.
                
                blockquote
                  p Здоровье до того перевешивает все остальные блага жизни, что поистине здоровый нищий счастливее больного короля.
                  
                  footer
                    
                    cite
                      img(src='i/sign.png')
                      p Евгений Трофимченко
                      span генеральный директор

                h3 H3 Поможем детям вместе
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                
                .content_slider_w: .content_slider.contentSlider._mod_1
                  +loop_while(7)
                    .slide
                      img(src='i/selfy.jpg')
                    .slide
                      img(src='i/party.jpg')
                      
                .contentSliderControls.content_slider_controls
                  
                h2 H2 Команда
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                
                .team_block
                  +loop_while(3)
                    .team_unit
                      .team_photo
                        img(src='i/team_1.png')
                      .team_name Переверзев Михаил Константинович
                      .team_post Генеральный директор
                      .team_contacts
                        p +7 (450) 456-78-90
                        p 
                          a.gl_link(href='mailto:ivanov@name.ru')
                            span ivanov@name.ru
                          
                  .team_unit
                    .team_photo
                      img(src='i/team_1.png')
                    .team_name Переверзев Михаил Константинович
                    .team_post Руководитель отдела развития выездного обслуживания
                    .team_contacts
                      p +7 (450) 456-78-90
                      p 
                        a.gl_link(href='mailto:ivanov@name.ru')
                          span ivanov@name.ru
                          
                  +loop_while(3)
                    .team_unit
                      .team_photo
                        img(src='i/team_1.png')
                      .team_name Переверзев Михаил Константинович
                      .team_post Генеральный директор
                      .team_contacts
                        p +7 (450) 456-78-90
                        p 
                          a.gl_link(href='mailto:ivanov@name.ru')
                            span ivanov@name.ru
                          
                  .team_unit
                    .team_photo
                      img(src='i/team_1.png')
                    .team_name Переверзев Михаил Константинович
                    .team_post Руководитель отдела развития выездного обслуживания
                    .team_contacts
                      p +7 (450) 456-78-90
                      p 
                        a.gl_link(href='mailto:ivanov@name.ru')
                          span ivanov@name.ru
                          
                h2 H2 Отчеты
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                    
                h4 H4 Отчеты по годам
                
                .report_list_w: ul.report_list._mod_1
                  +loop_while(5)
                    li
                      .report_item
                        .report_icon
                        .report_name 
                          a.report_link(href='#') 
                            span Отчет за 2012 год.PDF
                        .report_size 325 Кб
                
                h2 H2 Документы
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                
                ul.report_list._mod_2
                  +loop_while(3)
                    li
                      .report_item
                        a.report_img(data-fancybox="gallery" href="i/doc_big_1.jpg")
                          img(src='i/doc_1.jpg')
                        .report_name
                          a.report_link(href='#')
                            span Разрешение на осущетвление благотворительной деятельности на территории РФ
                        .report_size 325 Кб
                          
              .aside_block
                .section_menu_block
                  ul.section_menu
                    li._active: a.gl_link._inner(href='#'): span О фонде
                    li: a.gl_link._inner(href='#'): span Команда
                    li: a.gl_link._inner(href='#'): span Отчеты
                    li: a.gl_link._inner(href='#'): span Документы

      +footer()
    
    +popups()
      
    +scripts(false, true)
