include mixins.pug
doctype html
html(lang='ru')
  +dev_head('Капля Жизни История')

  body
    .wrapper
      .base
        +header(4)
        
        div.main_content
          .content_hero
            .content_hero_img
              img(src='i/story_hero.jpg')
              .content_hero_info
                .section_inner
                  .content_block 
                    h1 Медведь который спас жизнь
                    
                    .content_tags_block
                      .content_tags_caption 
                        span 10.11.2016
                        span 
                          span.i-eye 
                          span 430
                          
                      ul.content_tags
                        li
                          a.content_tag_link(href='#')
                            span Выздоровление
                        li
                          a.content_tag_link(href='#')
                            span Везение
                        li
                          a.content_tag_link(href='#')
                            span Судьба
                  
          .content_section
            .section_inner.clearfix
              .aside_block
                .aside_block_caption Еще истории
                  
                ul.story_list
                  +loop_while(3)
                    li
                      a.story_link(href='story.html')
                        img(src='i/story_1.jpg')
                        .story_title
                          .content_tags_caption
                            span 29.11.2016
                            span
                              span.i-eye
                              span 100
                          p Название истории может быть даже на две строки если это потребуется но не больше
                p 
                 a.gl_link(href='#')
                  span Все истории
                  
              .content_block._story_mod
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться.
                
                .content_slider_w: .content_slider.contentSlider._mod_1
                  +loop_while(7)
                    .slide
                      img(src='i/selfy.jpg')
                    .slide
                      img(src='i/party.jpg')
                      
                .contentSliderControls.content_slider_controls
                  
                h2 Вера в игрушку как в живое существо
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится. 
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались.
                    
                figure
                  p
                    img(src="i/story_2.jpg", alt="")
                  
                  h3 Верьте в своих детей и чудо обязательно произойдет

                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                
                h2 Благодарность и отчеты о потраченных средствах
                
                p Хочу рассказать историю нашей болезни, а точнее историю выздоровления моей дочурки Аленки, рассказать для того, чтобы родители, оказавшиеся лицом к лицу с такой страшной болезнью как злокачественная опухоль почек, не отчаивались, не опускали руки, а знали о том, что с этим злом можно бороться. Для этого нужно бесконечно любить своего ребенка и верить в его излечение и тогда “чудо” обязательно свершится.
                
                h4 Отчеты
                
                .report_list_w: ul.report_list._mod_1
                  li
                    .report_item
                      .report_icon
                      .report_name
                        a.report_link(href='#')
                          span Затраченые средства за <br> апрель 2017.PDF
                      .report_size 325 Кб
                        
                  li
                    .report_item
                      .report_icon
                      .report_name
                        a.report_link(href='#')
                          span Пакет справок.PDF
                      .report_size 325 Кб
                  li
                    .report_item
                      .report_icon
                      .report_name
                        a.report_link(href='#')
                          span Сканы чеков и<br> накладных.PDF
                      .report_size 325 Кб
                        
                  li
                    .report_item
                      .report_icon
                      .report_name
                        a.report_link(href='#')
                          span Благодарственное письмо.PDF
                      .report_size 325 Кб
                  li
                    .report_item
                      .report_icon
                      .report_name
                        a.report_link(href='#')
                          span Обращение к<br> неравнодушным.PDF
                      .report_size 325 Кб
                        
                        

      +footer()
    
    +popups()
      
    +scripts(false, true)
