@font-face {
  font-family: 'fond_icons';
  src:  url('fonts/fond_icons.eot?wvw61j');
  src:  url('fonts/fond_icons.eot?wvw61j#iefix') format('embedded-opentype'),
    url('fonts/fond_icons.ttf?wvw61j') format('truetype'),
    url('fonts/fond_icons.woff?wvw61j') format('woff'),
    url('fonts/fond_icons.svg?wvw61j#fond_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fond_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow_l:before {
  content: "\e91a";
}
.i-arrow_r:before {
  content: "\e91d";
}
.i-account:before {
  content: "\e91b";
}
.i-login:before {
  content: "\e91c";
}
.i-fb:before {
  content: "\e916";
}
.i-ok:before {
  content: "\e917";
}
.i-upload:before {
  content: "\e918";
}
.i-vk:before {
  content: "\e919";
}
.i-arrow_left:before {
  content: "\e910";
}
.i-arrow_right:before {
  content: "\e913";
}
.i-delete:before {
  content: "\e911";
}
.i-error_triangle:before {
  content: "\e912";
}
.i-close:before {
  content: "\e90c";
}
.i-eye_interfinvisibility:before {
  content: "\e914";
}
.i-logout:before {
  content: "\e915";
}
.i-book:before {
  content: "\e902";
}
.i-eye:before {
  content: "\e903";
}
.i-play:before {
  content: "\e904";
}
.i-quote:before {
  content: "\e905";
}
.i-pin:before {
  content: "\e906";
}
.i-edit:before {
  content: "\e907";
}
.i-hands:before {
  content: "\e908";
}
.i-ward:before {
  content: "\e909";
}
.i-drip:before {
  content: "\e90a";
}
.i-drip_2:before {
  content: "\e90b";
}
.i-search:before {
  content: "\e90f";
}
.i-chevron_left:before {
  content: "\e900";
}
.i-chevron_right:before {
  content: "\e901";
}
.i-chevron_down:before {
  content: "\e90d";
}
.i-chevron_up:before {
  content: "\e90e";
}
