$icomoon-font-path: "fonts" !default;

$i-book: "\e902";
$i-eye: "\e903";
$i-play: "\e904";
$i-quote: "\e905";
$i-pin: "\e906";
$i-edit: "\e907";
$i-hands: "\e908";
$i-ward: "\e909";
$i-drip: "\e90a";
$i-drip_2: "\e90b";
$i-chevron_left: "\e900";
$i-chevron_right: "\e901";

