$icomoon-font-path: "fonts" !default;

$i-fb: "\e916";
$i-ok: "\e917";
$i-upload: "\e918";
$i-vk: "\e919";
$i-arrow_left: "\e910";
$i-arrow_right: "\e913";
$i-delete: "\e911";
$i-error_triangle: "\e912";
$i-close: "\e90c";
$i-eye_interfinvisibility: "\e914";
$i-logout: "\e915";
$i-book: "\e902";
$i-eye: "\e903";
$i-play: "\e904";
$i-quote: "\e905";
$i-pin: "\e906";
$i-edit: "\e907";
$i-hands: "\e908";
$i-ward: "\e909";
$i-drip: "\e90a";
$i-drip_2: "\e90b";
$i-search: "\e90f";
$i-chevron_left: "\e900";
$i-chevron_right: "\e901";
$i-chevron_down: "\e90d";
$i-chevron_up: "\e90e";

